@import 'assets/styles/_adaptive';

.root {
  display: block;
}

.top {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;


  @include mediaMaxMd {
    height: auto;
    min-height: 450px;
  }

  .topInner {
    position: fixed;
  }

  .media {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: top;

    .bgVideo {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
      filter: brightness(60%);
      pointer-events: none;
    }
  }

  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 13em 10em;

    @include mediaMaxXxl {
      padding: 10em 6em;
    }

    @include mediaMaxLg {
      padding: 10em 4em;
    }

    @include mediaMaxMd {
      padding: 10em 3em;
    }

    .title {
      margin-left: 1em;
      font-weight: 400;
      font-size: 180px;
      font-family: var(--font-family-latin);
      text-transform: uppercase;
      text-indent: -1em;

      @include mediaMaxXxl {
        font-size: 140px;
      }

      @include mediaMaxXl {
        font-size: 120px;
      }

      @include mediaMaxLg {
        margin-left: 0;
        font-size: 100px;
        text-indent: 0;
      }

      @include mediaMaxMd {
        font-size: 65px;
      }

      @include mediaMaxSm {
        font-size: 60px;
      }
    }

    .subtitle {
      min-width: 360px;
      margin-left: 1.05em;
      font-family: var(--font-family-cyrillic);

      @include mediaMaxXl {
        min-width: 400px;
      }

      @include mediaMaxLg {
        margin-left: 5px;
      }
    }
  }
}

.pageSeparatorOuter {
  position: relative;
  bottom: -25px;
}

.about {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  margin-top: -25px;
  padding: 0 40px;
  background-color: var(--color-dark-bg);

  @media (max-width: 840px) {
    padding-top: 50px;
  }

  .aboutTitle {
    margin-left: -0.08em;
    font-size: 110px;
    line-height: 100px;

    @include mediaMaxXxl {
      font-size: 90px;
      line-height: 80px;
    }

    @include mediaMaxXl {
      font-size: 80px;
      line-height: 70px;
    }

    @include mediaMaxLg {
      font-size: 70px;
      line-height: 60px;
    }

    @include mediaMaxMd {
      font-size: 50px;
      line-height: 40px;
    }

    @include mediaMaxSm {
      font-size: 40px;
      line-height: 30px;
    }
  }

  .aboutContainer {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 100px 0;
  }

  .aboutContainerInner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 840px) {
      flex-direction: column;
      align-items: normal;
      margin-top: -70px;

      .leftSide {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 35px;
      }
    }
  }

  .leftSide {
    max-width: 55%;
    margin-right: 50px;
    font-size: 23px;
    line-height: 30px;
  }

  .rightSide {
    max-width: 415px;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
