.mapSection {
  position: relative;
  padding: 2rem;;
  color: #ffffff;
  background-color: var(--color-dark-bg);

  .header {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
  }

  .map {
    width: 100%;
    height: 500px;
    overflow: hidden;
    border-radius: 12px;

    // Стилизация Leaflet
    .leaflet-container {
      border-radius: 12px;
    }
  }
}

:global(.leaflet-control-attribution) {
  display: none !important;
}
